#Ignora tutti i file senza estensione

*.

#Ingnora tutti i file del tipo .dSYM

*.dSYM

# Ignora tutti i file del tipo.exe

*.exe

# Ignora tutte le cartelle del tipo .dSYM

*.dSYM/

# Ignora la cartella di Visual Studio Code con dentro setting Debug

.vscode
